In [1]:
import pandas as pd

In [46]:
data = pd.read_excel("2024s.xlsx")

In [47]:
data.head()

            Title       Const
0   The Goat Life   tt5525650
1  Manjummel Boys  tt26458038
2         Premalu  tt28288786
3      Bramayugam  tt27431598
4   Abraham Ozler  tt27816710

In [48]:
data[:10]

                   Title       Const
0          The Goat Life   tt5525650
1         Manjummel Boys  tt26458038
2                Premalu  tt28288786
3             Bramayugam  tt27431598
4          Abraham Ozler  tt27816710
5                 Aattam  tt27302079
6   Malaikottai Vaaliban  tt23023596
7               Aavesham  tt26660021
8  Varshangalkku Shesham  tt28364355
9   Malayalee from India  tt26655359

In [6]:
import requests

In [50]:
data.shape

(11, 2)

In [3]:
def get_poster(id):
    url = "https://api.themoviedb.org/3/find/{}?api_key=64f14bfc62f718d2cf962fe150e5bc40&external_source=imdb_id".format(id)
    response = requests.get(url)
    result = response.json()
    print(result)
    p = "https://image.tmdb.org/t/p/original"
    q = ""
    if result['movie_results'][0]['poster_path']:
        q = p + result['movie_results'][0]['poster_path']
    return q

In [4]:
get_poster("tt27470003")

{'movie_results': [{'backdrop_path': '/4ekJQBRQJKM17qViV0ICqv3AP3D.jpg', 'id': 983219, 'original_title': 'Bazooka', 'overview': '', 'poster_path': '/9Jv42EjWluDecOp4iXLYMMprsOV.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Bazooka', 'original_language': 'ml', 'genre_ids': [28, 53, 80], 'popularity': 5.929, 'release_date': '', 'video': False, 'vote_average': 0.0, 'vote_count': 0}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}

'https://image.tmdb.org/t/p/original/9Jv42EjWluDecOp4iXLYMMprsOV.jpg'

In [53]:
data['poster'] = data['Const'].apply(get_poster)

{'movie_results': [{'backdrop_path': '/iiPyuMn3SHluoLPhIBvxh04wIAb.jpg', 'id': 472221, 'original_title': 'ആടുജീവിതം', 'overview': 'The real-life incident of an Indian migrant worker, Najeeb Muhammad, who goes to Saudi Arabia to earn money. However, in a twist of fate, he finds himself living a slave-like existence, herding goats in the middle of the desert.', 'poster_path': '/95p65Eb3meuWj8DhldOeIz3NLPF.jpg', 'media_type': 'movie', 'adult': False, 'title': 'The Goat Life', 'original_language': 'ml', 'genre_ids': [18, 12], 'popularity': 9.97, 'release_date': '2024-03-28', 'video': False, 'vote_average': 7.0, 'vote_count': 2}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/rImcA1JkF88uTfyr26px6HBXUax.jpg', 'id': 1069945, 'original_title': 'മഞ്ഞുമ്മല്\u200d BOYS', 'overview': 'Manjummel Boys, based on a real story, is about a bunch of friends who set out on a trip to Kodaikanal and the events that occur there.', 'poster_path': '/s5HBKH7hNo8EElJTFQPEDwYgXhG.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Manjummel Boys', 'original_language': 'ml', 'genre_ids': [12, 53, 18], 'popularity': 85.428, 'release_date': '2024-02-22', 'video': False, 'vote_average': 7.9, 'vote_count': 20}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/gDyLcjvmdAhmYqjCMwZ9PndnAVm.jpg', 'id': 1149791, 'original_title': 'പ്രേമലു', 'overview': 'Sachin pursues romance but finds himself caught between two potential partners, leading to amusing complications.', 'poster_path': '/uPpmBjY3znUqGY8kYwI5xvOrSc0.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Premalu', 'original_language': 'ml', 'genre_ids': [10749, 35], 'popularity': 21.622, 'release_date': '2024-02-09', 'video': False, 'vote_average': 7.9, 'vote_count': 19}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/qLkVnDIpfpOjCpH3MfApW8jUir1.jpg', 'id': 1166133, 'original_title': 'ഭ്രമയുഗം', 'overview': 'Thevan, a folk singer of the Paanan caste, has a fateful encounter when escaping slavery, leading to discover an ancient tradition altering his destiny.', 'poster_path': '/8ojbLvqjUDRPvau4w6DBbmgoD7W.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Bramayugam', 'original_language': 'ml', 'genre_ids': [27, 53], 'popularity': 14.363, 'release_date': '2024-02-15', 'video': False, 'vote_average': 7.6, 'vote_count': 16}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/fO29Ccn3GT3FX3jCzXZNcG8ZqkM.jpg', 'id': 1184247, 'original_title': 'എബ്രഹാം ഓസ്ലർ', 'overview': 'The story revolves around the personal and professional lives of veteran cop Abraham Ozler, ACP Trichur, who at one time has to take up a serial killing case and the mysterious hunt begins', 'poster_path': '/rBFEad9Yp2LtZNKsEbmWKruOOP2.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Abraham Ozler', 'original_language': 'ml', 'genre_ids': [53, 18, 80], 'popularity': 4.339, 'release_date': '2024-01-11', 'video': False, 'vote_average': 6.5, 'vote_count': 7}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/75rb8oTFVzOHhlL6RX6cEG7Q3fA.jpg', 'id': 957926, 'original_title': 'ആട്ടം', 'overview': 'After a party amongst a theatre group, their sole actress, Anjali is subjected to a crime from one of the men in the group. A meeting is called for. In trying to reach a consensus, stories unravel, suspicions surface and clamour ensues.', 'poster_path': '/a16FtNn9OcvBHRdh1X6KWzaOV8H.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Aattam', 'original_language': 'ml', 'genre_ids': [18], 'popularity': 2.431, 'release_date': '2024-01-05', 'video': False, 'vote_average': 8.0, 'vote_count': 5}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/acnivNSu0ohcTemuXuhKJ0cyVgf.jpg', 'id': 1038874, 'original_title': 'മലൈക്കോട്ടൈ വാലിബന്\u200d', 'overview': 'Malaikottai Vaaliban, an uncontested warrior proves himself to be a reigning hero across time and geographies, defeating every opponent he encounters. As Vaaliban continues his victorious journey along with his aids Chinnappaiyyan & Ayyanar meets Rangapattinam Rangarani, an ethereal dancer at a betting parlour in Nooraanathalayur. This is the moment that also invites Chamathakan, a villainous presence who will shadow Vaaliban through the rest of his journey. This group then proceed on journey with many twists and turns that leads Vaaliban to his ultimate challenge.', 'poster_path': '/xZQpQC0FKrCnrNJTWWzpeUbFGvJ.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Malaikottai Vaaliban', 'original_language': 'ml', 'genre_ids': [28, 18, 14], 'popularity': 4.137, 'release_date': '2024-01-25', 'video': False, 'vote_average': 6.9, 'vote_count': 10}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/6WxEPaZGFWmQegUmseoGtlTKtQq.jpg', 'id': 1084812, 'original_title': 'ആവേശം', 'overview': 'The story begins with three teens coming to Bangalore for their engineering education and getting involved in a fight with seniors. They find a local gangster named Ranga to help them take revenge. The events, after meeting him, takes them through a journey, which seemed like a dream at first but soon turned into a nightmare.', 'poster_path': '/k5RWPaNjgRcNvGoawYaQHQwyctI.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Aavesham', 'original_language': 'ml', 'genre_ids': [35, 28], 'popularity': 64.101, 'release_date': '2024-04-11', 'video': False, 'vote_average': 7.7, 'vote_count': 10}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/d2LcfSjPO0L8esuRXqhQU10JzpQ.jpg', 'id': 1151560, 'original_title': 'വർഷങ്ങൾക്ക് ശേഷം', 'overview': 'Revolves around cherished memories or a reunion among a group of friends after a substantial passage of time.', 'poster_path': '/dVLqE9aEszo8yrc8TDk3bloYHHS.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Varshangalkku Shesham', 'original_language': 'ml', 'genre_ids': [18, 35, 10749], 'popularity': 4.753, 'release_date': '2024-04-11', 'video': False, 'vote_average': 4.5, 'vote_count': 1}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': None, 'id': 1101175, 'original_title': 'മലയാളി ഫ്രം ഇന്ത്യ', 'overview': 'Aalparambil Gopi, an unemployed boy, is forced to travel away from home. Fortunately, the journey ends up transforming his life forever.', 'poster_path': '/mOqYSsuaDi9D6dh0GRF8gj2ilJQ.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Malayalee from India', 'original_language': 'ml', 'genre_ids': [18, 35], 'popularity': 3.78, 'release_date': '2024-05-01', 'video': False, 'vote_average': 0.0, 'vote_count': 0}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/eHbVF8yBkOZn6PhmIboSzpQyMTZ.jpg', 'id': 893591, 'original_title': 'നടികര്\u200d', 'overview': 'Follows the life of superstar David Padikkal. David is a good actor but there comes a point in his life when he is forced to look inward to locate his real character.', 'poster_path': '/xxp2sa8RlELdsVAPplhbP5aq2Is.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Nadikar', 'original_language': 'ml', 'genre_ids': [35, 18], 'popularity': 6.717, 'release_date': '2024-05-03', 'video': False, 'vote_average': 0.0, 'vote_count': 0}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}

In [54]:
data['poster'].isnull().sum()

0

In [55]:
data.to_csv("2024_s.csv", index= False)

In [2]:
data = pd.read_csv("english.csv")

In [3]:
data.head()

,Title,overview,cast,Const,Year,Genres,Directors,tag
0,Batman v Superman: Dawn of Justice,Batman is manipulated by Lex Luthor to fear Su...,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei...",tt2975590,2016,"Action, Adventure, Sci-Fi",Zack Snyder,"Zack Snyder Ben Affleck, Henry Cavill, Amy Ada..."
1,Captain America: Civil War,Political involvement in the Avengers' affairs...,"Chris Evans, Robert Downey Jr., Scarlett Johan...",tt3498820,2016,"Action, Sci-Fi","Anthony Russo, Joe Russo","Anthony Russo, Joe Russo Chris Evans, Robert D..."
2,X-Men: Apocalypse,In the 1980s the X-Men must defeat an ancient ...,"James McAvoy, Michael Fassbender, Jennifer Law...",tt3385516,2016,"Action, Adventure, Sci-Fi",Bryan Singer,"Bryan Singer James McAvoy, Michael Fassbender,..."
3,The Jungle Book,After a threat from the tiger Shere Khan force...,"Neel Sethi, Bill Murray, Ben Kingsley, Idris Elba",tt3040964,2016,"Animation, Action, Adventure, Drama, Family, F...",Jon Favreau,"Jon Favreau Neel Sethi, Bill Murray, Ben Kings..."
4,Assassin's Creed,Callum Lynch explores the memories of his ance...,"Michael Fassbender, Marion Cotillard, Jeremy I...",tt2094766,2016,"Action, Adventure, Sci-Fi",Justin Kurzel,"Justin Kurzel Michael Fassbender, Marion Cotil..."

In [5]:
data['tag'] = data['tag'].str.lower()

In [7]:
data['tag'][0]

'zack snyder ben affleck, henry cavill, amy adams, jesse eisenberg action, adventure, sci-fi batman is manipulated by lex luthor to fear superman. superman´s existence is meanwhile dividing the world and he is framed for murder during an international crisis. the heroes clash and force the neutral wonder woman to reemerge. 2016'

In [8]:
data['tag'] = data['tag'].replace(r'\'|\,|\.|\`', '', regex = True)

In [9]:
data['tag'][0]

'zack snyder ben affleck henry cavill amy adams jesse eisenberg action adventure sci-fi batman is manipulated by lex luthor to fear superman superman´s existence is meanwhile dividing the world and he is framed for murder during an international crisis the heroes clash and force the neutral wonder woman to reemerge 2016'

In [10]:
data

,Title,overview,cast,Const,Year,Genres,Directors,tag
0,Batman v Superman: Dawn of Justice,Batman is manipulated by Lex Luthor to fear Su...,"Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei...",tt2975590,2016,"Action, Adventure, Sci-Fi",Zack Snyder,zack snyder ben affleck henry cavill amy adams...
1,Captain America: Civil War,Political involvement in the Avengers' affairs...,"Chris Evans, Robert Downey Jr., Scarlett Johan...",tt3498820,2016,"Action, Sci-Fi","Anthony Russo, Joe Russo",anthony russo joe russo chris evans robert dow...
2,X-Men: Apocalypse,In the 1980s the X-Men must defeat an ancient ...,"James McAvoy, Michael Fassbender, Jennifer Law...",tt3385516,2016,"Action, Adventure, Sci-Fi",Bryan Singer,bryan singer james mcavoy michael fassbender j...
3,The Jungle Book,After a threat from the tiger Shere Khan force...,"Neel Sethi, Bill Murray, Ben Kingsley, Idris Elba",tt3040964,2016,"Animation, Action, Adventure, Drama, Family, F...",Jon Favreau,jon favreau neel sethi bill murray ben kingsle...
4,Assassin's Creed,Callum Lynch explores the memories of his ance...,"Michael Fassbender, Marion Cotillard, Jeremy I...",tt2094766,2016,"Action, Adventure, Sci-Fi",Justin Kurzel,justin kurzel michael fassbender marion cotill...
...,...,...,...,...,...,...,...,...
7783,"The Russians Are Coming, The Russians Are Coming","Without hostile intent, a Soviet sub runs agro...",Carl Reiner|Eva Marie Saint|Alan Arkin|Brian K...,tt0060921,1966,Comedy|War,Norman Jewison,norman jewison carl reiner|eva marie saint|ala...
7784,Carry On Screaming!,The sinister Dr Watt has an evil scheme going....,Kenneth Williams|Jim Dale|Harry H. Corbett|Joa...,tt0060214,1966,Comedy,Gerald Thomas,gerald thomas kenneth williams|jim dale|harry ...
7785,Grand Prix,Grand Prix driver Pete Aron is fired by his te...,James Garner|Eva Marie Saint|Yves Montand|Tosh...,tt0060472,1966,Action|Adventure|Drama,John Frankenheimer,john frankenheimer james garner|eva marie sain...
7786,"What's Up, Tiger Lily?","In comic Woody Allen's film debut, he took the...",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,tt0061177,1966,Action|Comedy,Woody Allen,woody allen tatsuya mihashi|akiko wakabayashi|...
7787,Manos: The Hands of Fate,A family gets lost on the road and stumbles up...,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,tt0060666,1966,Horror,Harold P. Warren,harold p warren harold p warren|tom neyman|joh...

In [11]:
data.to_csv("english.csv", index= False)

In [5]:
data = pd.read_excel("2024_e.xlsx")

In [6]:
data

                               Title       Const  poster
0                     Dune: Part Two  tt15239678     NaN
1  Kingdom of the Planet of the Apes  tt11389872     NaN
2    Godzilla x Kong: The New Empire  tt14539740     NaN
3                   Kung Fu Panda 4   tt21692408     NaN
4        Ghostbusters: Frozen Empire  tt21235248     NaN
5               Bob Marley: One Love   tt8521778     NaN

In [7]:
data['poster'] = data['Const'].apply(get_poster)

{'movie_results': [{'backdrop_path': '/xOMo8BRK7PfcJv9JCnx7s5hj0PX.jpg', 'id': 693134, 'original_title': 'Dune: Part Two', 'overview': 'Follow the mythic journey of Paul Atreides as he unites with Chani and the Fremen while on a path of revenge against the conspirators who destroyed his family. Facing a choice between the love of his life and the fate of the known universe, Paul endeavors to prevent a terrible future only he can foresee.', 'poster_path': '/czembW0Rk1Ke7lCJGahbOhdCuhV.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Dune: Part Two', 'original_language': 'en', 'genre_ids': [878, 12], 'popularity': 1339.96, 'release_date': '2024-02-27', 'video': False, 'vote_average': 8.206, 'vote_count': 3843}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/fqv8v6AycXKsivp1T5yKtLbGXce.jpg', 'id': 653346, 'original_title': 'Kingdom of the Planet of the Apes', 'overview': "Several generations in the future following Caesar's reign, apes are now the dominant species and live harmoniously while humans have been reduced to living in the shadows. As a new tyrannical ape leader builds his empire, one young ape undertakes a harrowing journey that will cause him to question all that he has known about the past and to make choices that will define a future for apes and humans alike.", 'poster_path': '/gKkl37BQuKTanygYQG1pyYgLVgf.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Kingdom of the Planet of the Apes', 'original_language': 'en', 'genre_ids': [878, 12, 28], 'popularity': 3264.146, 'release_date': '2024-05-08', 'video': False, 'vote_average': 7.224, 'vote_count': 268}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/lLh39Th5plbrQgbQ4zyIULsd0Pp.jpg', 'id': 823464, 'original_title': 'Godzilla x Kong: The New Empire', 'overview': 'Following their explosive showdown, Godzilla and Kong must reunite against a colossal undiscovered threat hidden within our world, challenging their very existence – and our own.', 'poster_path': '/1G978IJ2KDPl4Z4icZrxZTozb1v.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Godzilla x Kong: The New Empire', 'original_language': 'en', 'genre_ids': [878, 28, 12], 'popularity': 1990.199, 'release_date': '2024-03-27', 'video': False, 'vote_average': 6.671, 'vote_count': 1154}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/kYgQzzjNis5jJalYtIHgrom0gOx.jpg', 'id': 1011985, 'original_title': 'Kung Fu Panda 4', 'overview': 'Po is gearing up to become the spiritual leader of his Valley of Peace, but also needs someone to take his place as Dragon Warrior. As such, he will train a new kung fu practitioner for the spot and will encounter a villain called the Chameleon who conjures villains from the past.', 'poster_path': '/kDp1vUBnMpe8ak4rjgl3cLELqjU.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Kung Fu Panda 4', 'original_language': 'en', 'genre_ids': [16, 28, 10751, 35, 14], 'popularity': 1456.094, 'release_date': '2024-03-02', 'video': False, 'vote_average': 7.125, 'vote_count': 1613}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/5cCfqeUH2f5Gnu7Lh9xepY9TB6x.jpg', 'id': 967847, 'original_title': 'Ghostbusters: Frozen Empire', 'overview': 'After the original team developed a top-secret research laboratory to take the shattered ghosts to the next level. But when the discovery of an ancient artifact unleashes an evil force, both new and old must join forces to protect their homeland and save the world from the Second Ice Age... from the very thing that unleashes an unstoppable force from the depths of history. As chaos reigns and pure evil plunges the world into darkness, the Ghostbusters must step forward once again to save humanity from the brink of doom. With two generations of Ghostbusters fighting side by side, the stakes have never been higher. Will they be able to avert the inevitable before everything freezes?', 'poster_path': '/e1J2oNzSBdou01sUvriVuoYp0pJ.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Ghostbusters: Frozen Empire', 'original_language': 'en', 'genre_ids': [14, 12, 35], 'popularity': 2450.304, 'release_date': '2024-03-20', 'video': False, 'vote_average': 6.7, 'vote_count': 665}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
{'movie_results': [{'backdrop_path': '/1ZSKH5GGFlM8M32K34GMdaNS2Ew.jpg', 'id': 802219, 'original_title': 'Bob Marley: One Love', 'overview': 'Jamaican singer-songwriter Bob Marley overcomes adversity to become the most famous reggae musician in the world.', 'poster_path': '/n0GVTNJvhUlJ1Mj73JHZBTHVFuc.jpg', 'media_type': 'movie', 'adult': False, 'title': 'Bob Marley: One Love', 'original_language': 'en', 'genre_ids': [10402, 36, 18], 'popularity': 142.011, 'release_date': '2024-02-14', 'video': False, 'vote_average': 6.945, 'vote_count': 540}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}

In [8]:
data

,Title,Const,poster
0,Dune: Part Two,tt15239678,https://image.tmdb.org/t/p/original/czembW0Rk1...
1,Kingdom of the Planet of the Apes,tt11389872,https://image.tmdb.org/t/p/original/gKkl37BQuK...
2,Godzilla x Kong: The New Empire,tt14539740,https://image.tmdb.org/t/p/original/1G978IJ2KD...
3,Kung Fu Panda 4,tt21692408,https://image.tmdb.org/t/p/original/kDp1vUBnMp...
4,Ghostbusters: Frozen Empire,tt21235248,https://image.tmdb.org/t/p/original/e1J2oNzSBd...
5,Bob Marley: One Love,tt8521778,https://image.tmdb.org/t/p/original/n0GVTNJvhU...

In [9]:
data.to_csv("2024_e.csv", index= False)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2024_e.csv')

In [3]:
import urllib.request
from bs4 import BeautifulSoup as bs

def scrape_reviews(imdb_id):
    sauce = urllib.request.urlopen('https://www.imdb.com/title/{}/reviews?ref_=tt_ov_rt'.format(imdb_id)).read()
    soup = bs(sauce, 'lxml')
    soup_result = soup.find_all("div", {"class": "text show-more__control"})
    #soup_result = soup.find_all("div", {"class": "ipc-html-content-inner-div"})
    reviews_list = []  # list of reviews

    for reviews in soup_result:
        if reviews.string:
            review_text = reviews.string.strip()  # Remove leading/trailing spaces
            reviews_list.append(review_text)

    return reviews_list

In [4]:
reviews = []

In [12]:
for id in df['Const']:
    for review in (scrape_reviews(str(id))):
        reviews.append(review)

In [5]:
reviews.append(df['Const'].apply(scrape_reviews))

In [13]:
reviews

[0    []
 1    []
 2    []
 3    []
 4    []
 5    []
 Name: Const, dtype: object,
 [],
 [],
 [],
 [],
 [],
 []]

In [14]:
for i in scrape_reviews('tt0214915'):
    print(i + "\n\n")

In [2]:
df = pd.read_csv("actors.csv")

In [3]:
df

,Position,Const,Created,Modified,Description,Name,Known For,Birth Date
0,1,nm0482320,2020-04-23,2020-04-23,NaN,Mohanlal,Dasharatham,"May 21, 1960"
1,2,nm0007123,2020-04-23,2020-04-23,NaN,Mammootty,Oru Vadakkan Veeragatha,"September 7, 1951"
2,3,nm1335387,2020-04-23,2020-04-23,NaN,Prithviraj Sukumaran,Ennu Ninte Moideen,"October 16, 1982"
3,4,nm4921260,2020-04-23,2020-04-23,NaN,Dulquer Salmaan,Charlie,"July 28, 1986"
4,5,nm0226770,2020-04-23,2020-04-23,NaN,Dileep,Sound Thoma,"October 27, 1968"
5,6,nm4028885,2020-04-23,2020-04-23,NaN,Nivin Pauly,Premam,"October 11, 1984"
6,7,nm1335704,2020-04-23,2020-04-23,NaN,Fahadh Faasil,Pushpa: The Rise - Part 1,"August 8, 1982"
7,8,nm0090283,2020-04-23,2020-04-23,NaN,Kunchacko Boban,Anjaam Pathiraa,"November 2, 1976"
8,9,nm1334389,2020-04-23,2020-04-23,NaN,Jayasurya,Su Su Sudhi Vathmeekam,"August 31, 1978"
9,10,nm0419688,2020-04-23,2020-04-23,NaN,Jayaram,Thuppakki,"December 10, 1964"

In [ ]:
url = "https://api.themoviedb.org/3/find/{}?api_key=64f14bfc62f718d2cf962fe150e5bc40&external_source=imdb_id"

In [4]:
df.drop(['Position', 'Created', 'Modified', 'Description', 'Known For', 'Birth Date'], axis = 1, inplace = True)

In [5]:
df

       Const                  Name
0  nm0482320              Mohanlal
1  nm0007123             Mammootty
2  nm1335387  Prithviraj Sukumaran
3  nm4921260       Dulquer Salmaan
4  nm0226770                Dileep
5  nm4028885           Nivin Pauly
6  nm1335704         Fahadh Faasil
7  nm0090283       Kunchacko Boban
8  nm1334389             Jayasurya
9  nm0419688               Jayaram

In [19]:
def get_poster(id):
    url = url = "https://api.themoviedb.org/3/find/{}?api_key=64f14bfc62f718d2cf962fe150e5bc40&external_source=imdb_id"
    response = requests.get(url.format(id))
    result = response.json()
    result = result['person_results'][0]
    poster = result['profile_path']
    poster = "https://image.tmdb.org/t/p/original" + poster
    return poster

In [20]:
get_poster('nm0007123')

'https://image.tmdb.org/t/p/original/c5ewp9XtDIOwK5QWhwA7TD0GzqO.jpg'

In [21]:
df['poster'] = df['Const'].apply(get_poster)

In [22]:
df

,Const,Name,poster
0,nm0482320,Mohanlal,https://image.tmdb.org/t/p/original/4oQtVIfXVp...
1,nm0007123,Mammootty,https://image.tmdb.org/t/p/original/c5ewp9XtDI...
2,nm1335387,Prithviraj Sukumaran,https://image.tmdb.org/t/p/original/a9f9Tkc4gE...
3,nm4921260,Dulquer Salmaan,https://image.tmdb.org/t/p/original/8AT3qDRakZ...
4,nm0226770,Dileep,https://image.tmdb.org/t/p/original/9CsxIpYlnW...
5,nm4028885,Nivin Pauly,https://image.tmdb.org/t/p/original/6W4nGeMkRW...
6,nm1335704,Fahadh Faasil,https://image.tmdb.org/t/p/original/wmkwZWFHqM...
7,nm0090283,Kunchacko Boban,https://image.tmdb.org/t/p/original/1jdbIaYOBu...
8,nm1334389,Jayasurya,https://image.tmdb.org/t/p/original/m3M0skefVc...
9,nm0419688,Jayaram,https://image.tmdb.org/t/p/original/cc1SfVFctu...

In [23]:
df.to_csv('actors_poster.csv', index = False)